$black:#595959;
$white:#ffffff;
.warp {
  position: relative;
  .ab {
    position: absolute;
    z-index: 100;
  }
  .edit {
    background: $black;
    color: $white;
    padding: .1rem;
    width: 1.5rem;
    text-align: center;
  }
}